@charset "utf-8";
/* line 50, sources/desktop.scss */
h1 {
  font-size: 10em;
  line-height: 1em;
  color: rgba(255, 255, 255, 0.4); }

/* line 56, sources/desktop.scss */
h2 {
  font-size: 4em;
  line-height: 1em; }

/* line 68, sources/desktop.scss */
.textBox {
  margin: 60px;
  overflow-y: auto;
  /*	max-width: 600px; */ }

/* line 74, sources/desktop.scss */
#message1 {
  width: 50%; }

/* line 78, sources/desktop.scss */
#message2 {
  width: 50%; }
