@charset "utf-8";
/* line 50, sources/desktop.scss */
h1 {
  font-family: "cabazon", helvetica, sans-serif;
  font-size: 10em;
  line-height: 1em;
  color: rgba(255, 255, 255, 0.4); }

/* line 57, sources/desktop.scss */
h2 {
  font-family: "cabazon", helvetica, sans-serif;
  font-size: 6em;
  line-height: 1em; }

/* line 71, sources/desktop.scss */
.textBox {
  margin: 60px;
  overflow-y: auto;
  max-width: 600px; }
