@charset "utf-8";
/* line 14, sources/__reset.scss */
html, body, div, span, object, iframe, canvas,
h1, h2, h3, h4, h5, h6, p, a, img,
strong, sub, sup, b, u, i, center,
ol, ul, li,
form, label, table, tr, td,
audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
  -webkit-text-stroke: 1px transparent;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  image-rendering: auto;
  -ms-interpolation-mode: bicubic;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-touch-action: none; }

/* line 54, sources/__reset.scss */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 63, sources/__reset.scss */
.clear:before, .clear:after {
  content: "";
  display: table; }

/* line 67, sources/__reset.scss */
.clear:after {
  clear: both; }

/* line 70, sources/__reset.scss */
.clear {
  *zoom: 1; }

/* line 78, sources/__reset.scss */
html {
  line-height: 1;
  height: 100%; }

/* line 82, sources/__reset.scss */
body {
  font-weight: normal;
  font-style: normal;
  height: 100%; }

/* line 87, sources/__reset.scss */
ul, ol {
  list-style: none; }

/* line 90, sources/__reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 94, sources/__reset.scss */
a img {
  border: 0; }

@font-face {
  font-family: "{{__My awesome font name__}}";
  src: url('../fonts/{{__my-awesome-font-name-(file-name-without-extension)__}}.eot');
  src: url('../fonts/{{__my-awesome-font-name-(file-name-without-extension)__}}.eot?#iefix') format('eot'), url('../fonts/{{__my-awesome-font-name-(file-name-without-extension)__}}.woff') format('woff'), url('../fonts/{{__my-awesome-font-name-(file-name-without-extension)__}}.ttf') format('truetype'), url('../fonts/{{__my-awesome-font-name-(file-name-without-extension)__}}.svg#webfont') format('svg');
  font-weight: "normal";
  font-style: "normal"; }

/* line 70, sources/mobile.scss */
.trim {
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis; }

/* line 77, sources/mobile.scss */
.line-clamp {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3; }

/* line 85, sources/mobile.scss */
.break-word {
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto; }

/* line 12, sources/__quotes.scss */
.quotes:before {
  content: "\201C"; }
/* line 13, sources/__quotes.scss */
.quotes:after {
  content: "\201D"; }

/* line 13, sources/__emphasize-first-character.scss */
.emphasize:first-letter {
  font-size: 180%;
  font-weight: bold; }

/* line 108, sources/mobile.scss */
.embedded-content {
  height: 0;
  position: relative;
  padding-bottom: 56.4%;
  overflow: hidden; }
  /* line 24, sources/__embedded-content.scss */
  .embedded-content iframe,
  .embedded-content object,
  .embedded-content embed {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0; }

/* line 115, sources/mobile.scss */
.no-popup {
  -webkit-touch-callout: none; }

/* line 121, sources/mobile.scss */
.non-selectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none; }

/* line 127, sources/mobile.scss */
.CSS3Animation {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: all 300ms cubic-bezier(0.445, 0.045, 0.0355, 1);
  -moz-transition: all 300ms cubic-bezier(0.445, 0.045, 0.0355, 1);
  -ms-transition: all 300ms cubic-bezier(0.445, 0.045, 0.0355, 1);
  -o-transition: all 300ms cubic-bezier(0.445, 0.045, 0.0355, 1);
  transition: all 300ms cubic-bezier(0.445, 0.045, 0.0355, 1);
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000; }

/* line 134, sources/mobile.scss */
.CSS3HardwareAcceleration {
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0); }

/* line 152, sources/mobile.scss */
body {
  background: #009bdb;
  font-family: "runda", helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.4em;
  color: black; }

/* line 160, sources/mobile.scss */
h1 {
  font-family: "cabazon", helvetica, sans-serif;
  font-size: 6em;
  line-height: 1em; }

/* line 167, sources/mobile.scss */
a:hover,
a:active {
  text-decoration: none; }

/* line 171, sources/mobile.scss */
#background {
  width: 100%;
  height: 100%;
  overflow: hidden; }

/* line 177, sources/mobile.scss */
#backgroundCanvas {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #0f0; }

/* line 187, sources/mobile.scss */
#message1,
#message2,
#message3,
#message4 {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 5;
  padding: 20px;
  overflow: hidden; }

/* line 198, sources/mobile.scss */
#message1 {
  background: white;
  color: #e42321; }

/* line 203, sources/mobile.scss */
#message2 {
  background: white;
  color: #e42321; }

/* line 208, sources/mobile.scss */
#message3 {
  background: white;
  color: #e42321; }

/* line 213, sources/mobile.scss */
#message4 {
  background: white;
  color: #e42321; }

/* line 218, sources/mobile.scss */
.hidden {
  display: none; }
